<h1><%= @projects.length %> Projects</h1>


	<% @projects.each do |project| %>
	<h3>
		<%= project.name  %>
	</h3>  
	<p>
		<%= project.description %> 
	</p>
	<p>
		<%= number_to_currency(project.target_pledge_amount) %>
	</p>
	<p>
		<%= project.website %> 
	</p>
	<p>
		Funding Ends: <%= project.pledging_ends_on %>
	</p>
<% end %>