<h1><%= pluralize(@projects.length, 'Project') %></h1>

<h3><%= link_to 'New Project', new_project_path %></h3>
	<% @projects.each do |project| %>
	<h3>
		<%= link_to(project.name, project)  %>
	</h3>  
	<p>
		<%= truncate(project.description, length: 150, separator: ' ') %> 
	</p>
	<p>
		<%= number_to_currency(project.target_pledge_amount) %>
	</p>
	<p>
		<%= project.website %> 
	</p>
	<p>
		Funding Ends: <%= wording(project) %>
	</p>
<% end %>